<h3>Todo list</h3>

<form novalidate (ngSubmit)="submitTodo($event)">
  <input type="text" [(ngModel)]="textTodo" name="todo" placeholder="Your text">
  <button type="submit">{{isEdit ? 'Edit' : 'Send'}}</button>
</form>

<ul *ngIf="(todoItems|async).length; else todosIsEmpty">
  <li *ngFor="let todo of todoItems|async">
    <app-todo [todo]="todo" [editableTodo]="editableTodo|async" (editTodo)="editTodo($event)"></app-todo>
  </li>
</ul>

<ng-template #todosIsEmpty>
  <div>Nothing to show</div>
</ng-template>

<ul class="filters">
  <li *ngFor="let filter of filters"
      (click)="changeFilter(filter)"
      [class.active-filter]="filter.title === (activeFilter|async).title">
    {{filter.title}}
  </li>
</ul>
