ul {
  list-style-type: none;
  padding: 0;
}

.remove-icon, .edit-icon {
  cursor: pointer;
  margin-left: 5px;
  color: red;
}

label {
  cursor: pointer;
}

.active-filter {
  color: green;
}

.filters {
  display: flex;
  align-items: center;
}


.filters > li {
  padding: 10px;
  cursor: pointer;
}

.filters > li:hover {
  opacity: 0.8;
}

.editable-todo {
  color: red;
}
